/* Navigation */
#navBar{
    flex-direction: column;
}
#navBar ul li a{
    font-size: 1rem;
    padding: 0px 10px;
    padding-bottom: 8px;
}

/* Home */
#home{
    height: 370px;
    padding: 2px 30px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

/* Services */
#services{
    flex-direction: column;
}

#services .box{
    padding: 15px;
    margin: 4px 12px;
    margin-bottom: 21px;
}

/* Client */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 93px;
    padding: 2px 6px;
    height: auto;
}

/* Contact */
#contact-box form{
    width: 80%;
}
/* Footer */

/* Utility */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 15px;
    padding: 4px 6px;
}