/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation bar */
#navBar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
/*Navigation bar: Logo and Image */
#logo{
    margin: 8px 10px;
}
#logo img{
    height: 50px;
    margin: 6px 10px;
}
/*Navigation bar: List Styling */
#navBar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navBar::before{
   content: "";
   background-color: black;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 10;
}
#navBar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.5rem;
}

#navBar ul li a{
    display: block;  
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

#navBar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 2px 100px;
    justify-content: center;
    align-items: center;
    height: 510px;
}
#home::before{
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    text-align: center;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'Bree Serif', serif;
}
#home p{
    text-align: center;
    font-size: 1.3rem;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'Bree Serif', serif;
}

/*Services*/
#services{
    margin: 4px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 15px;
    margin: 4px 22px;
    border-radius: 25px;
    background: rgb(243, 213, 175);
    margin-bottom: 30px;
}
#services .box img{
    height: 200px;
    width: 210px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* Clients section */
#client-section{
    position: relative;
    /* height: 330px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 140px;
} 

.client-item{
    padding: 35px;
}
 
/* Contact section */
#contact{
    position: relative;
    padding: 30px 0px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('../contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box input, textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 1.1rem;
}
/* Footer section */
footer .center{
    background: black;
    color: white;
    padding: 4px 20px;
}


/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn {
    padding: 6px 18px;
    border: 2px solid black;
    background-color: rgb(212, 78, 33);
    color: white;
    margin: 22px;
    border-radius: 9px;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.center{
    text-align: center;
}